<div class="thumbnail"
     ng-class="isReaded">

    <div class="photos" ng-mousemove="movePhoto($event)">
        <img ng-src="{[{ photo }]}" alt="400x300" ng-repeat="photo in a.photos" ng-show="$index == showPhoto">
    </div>
    <div class="caption">
        <span class="badge clearfix" ng-bind="a.city"></span>
        <span class="badge clearfix" ng-bind="a.district"></span>
        <span class="badge badge-important" ng-bind="a.type"></span>
        <span class="badge badge-info pull-right clearfix">{[{ a.price }]} €</span>

        <h3>{[{ a.title }]} {[{ a.surface }]}m²</h3>

        <p class="description" ng-bind="a.description"></p>

        <p>

            <div class="pull-left">
                <i class="icon-camera"></i>{[{ a.photos.length }]}
            </div>

            <div class="btn-group pull-right" ade-rich='{"className":"input-xlarge","id":"{[{ a.id }]}"}' ng-model="notes">
                <a class="btn"><i class="icon-pencil"></i></a>
                <button class="btn btn-warning" ng-class="starState" ng-click="favorite()" ng-init="starState = 'disabled'"><i class="icon-star"></i></button>
                <a href="http://blankreferrer.com/u/{[{ a.permalink | stripProtocol }]}" class="btn" target="_blank"><i class="icon-globe"></i> Visit {[{ a.type }]}</a>
                <a class="btn btn-danger" href="javascript://" ng-click="delete($index)"><i class="icon-trash"></i></a>
            </div>

            <div class="clear"></div>

        </p>
        <div>
            <strong>
                <span class="label label-info" rel="tooltip" data-placement="right" title="Remote id : {#{{ a.remoteId }} created at : {{ time_diff(a.remoteCreatedAt) }}#}"><i class="icon-refresh"></i> Remote updated {[{ a.remoteUpdatedAt | fromNow }]}</span><br />
                <span class="label label-inverse" rel="tooltip" data-placement="right" title="Created at {#{{ time_diff(a.localCreatedAt) }}#}"><i class="icon-hdd icon-white"></i> Local updated {[{ a.localUpdatedAt | fromNow }]}</span>
            </strong>
            <br />
        </div>

        <div class="notes">


            <div class="comment" ng-repeat="note in a.notes">
                <i class="icon-pencil"></i> <span class="username" ng-bind="note.user.username"></span> :

                {[{ note.text }]}

            </div>
        </div>

        <div class="versions">

            <div class="btn-group">
                <button class="btn disabled"><i class="icon-play-circle"></i> Last version</button>

                <button class="btn" ng-repeat="version in a.versions" ng-click="getVersion(version.id)"><i class="icon-time"></i> {[{ version.remoteUpdatedAt | fromNow }]}</button>


                {#{% if a.versions|length > 2 %}

                    <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">

                        {% for version in a.versions|slice(2) %}
                            <li><a href="#"><i class="icon-time"></i> {{ time_diff(version.remoteUpdatedAt) }}</a></li>
                        {% endfor %}

                    </ul>
                {% endif %}#}
            </div>
        </div>

    </div>
</div>
