.thumbnails .first {
    margin-left: 0;
    clear:both;
}

.thumbnail h3 {
    margin:0;
}

.thumbnail {
    width: 409px;
}

.thumbnail.unreaded {
    -webkit-box-shadow:0 0 9px 1px rgba(255,0,2,0.74);
    -moz-box-shadow:0 0 9px 1px rgba(255,0,2,0.74);
    /*box-shadow: 0 0 30px 3px rgba(255,255,190, .75);*/
    box-shadow:0 0 9px 1px rgba(255,0,2,0.74);
}

.thumbnail.favorite {
    -webkit-box-shadow:0 0 9px 1px rgba(255, 211, 17, 0.73);
    -moz-box-shadow:0 0 9px 1px rgba(255, 211, 17, 0.73);
    /*box-shadow: 0 0 30px 3px rgba(255,255,190, .75);*/
    box-shadow:0 0 9px 1px rgba(255, 211, 17, 0.73);
}

.thumbnail .photos {
    position: relative;
    width:400px;
    height:300px;
    left: 5px;
}

.thumbnail .photos img {
    position: absolute;
    top:0;
    left:0;
    width: 400px;
    height: 300px;
}

/*
.thumbnail p.description {
    height: 240px;
    overflow: hidden;
}*/

/*.thumbnail .price {
    position: relative;
    top:10px;
    right: 10px;
}*/

/*
.content .accommodation {
    border:1px solid #ddd;
    margin-bottom: 20px;
}*/
