<div class="row-fluid">

    <div class="hero-unit">
        <h2>{% block headline %}Mopa Bootstrap Bundle{% endblock %}</h2>
        <p>Appartemoi ça :</p>
        <ul>
            <li>Download the latest symfony edition (this site runs on Symfony d)</li>
            <li>add MopaBootstrapBundle and MopaBootstrapSandboxBundle to your composer.json</li>
            <li>Activate examples in your Symfony installation</li>
        </ul>
    </div>

</div>